<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDghU74XsZ4NIKZlvym-iTee8tB4Tro648</string>
	<key>GCM_SENDER_ID</key>
	<string>406470294847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userAuthentication</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-d43ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-d43ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406470294847:ios:8c20ee1e0b287b2a74a78a</string>
</dict>
</plist>